body#corpo{
    margin: 0;
    padding: 0;
    background-color: #F3F6FC;
}

main#conteudo{
    margin-top: 30px;
    
    margin-bottom: 30px;
}

#user{
    color: white;
}

footer div{
    color: #3b3b3b;
}


a#link_user{
    width: 150px;
    text-align: center;
}

a#sdra{
    font-size: 15px;
}

div#bloco-atividade {
   border-radius: 10px;
   padding: 20px;
   align-items: center;
}

div#bloco-atividade:hover {
    background-color: #cfcfcf;
}





div#bloco-atividade span#titulo-relatorio{
    text-justify: auto;
 }
 
 /* div#btrel{
    display: flex;
    align-items: center;
    text-align: center;
 } */

 a.cancel, button.register{
    width: 200px;
 }

 div#conteudo{
    border-radius: 10px;
    background-color: #fff;
    
    
 }