body{
    margin: 0;
    padding: 0;
}

main{
    margin-top: 30px;
    
}

#user{
    color: white;
}

footer div{
    color: #3b3b3b;
}


a#link_user{
    width: 150px;
    text-align: center;
}

a#sdra{
    font-size: 15px;
}

