{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
<title>Login</title>
{% endblock titulo %}


{% block main %}



<div class="col-md-4 mx-auto p-3">
    <div class="card">
        <div class="h3 card-header border-none" style="margin: 0">
            <div class=" d-flex justify-content-center">
                <a class="" href="/monitoria/">
                    <img alt="Logo UFAC" src="{% static 'img/logo_ufac.png' %}" id="logo_ufac">
                </a>
            </div>
            <div class="d-flex justify-content-center" id="titulo_login">
                <p class="text-gray text-center" style=" margin-bottom: -3px;">Sistema de Registro de Atividades</p>
            </div>
            
        </div>
        {% if not request.user.is_authenticated %}
        <div class="card-body" id="body_login">
            <p class="lead text-center">
                Faça seu Login para acessar o sistema
            </p>
            {% include 'core/mensagens.html' %}
            <form action="" method="POST">
                {% csrf_token %}
            
                <label for="username" class="form-group">CPF</label>
                <input type="text" id="username" name="username" class="form-control mb-3" placeholder="___.___.___-__" required
                    autofocus>
            
                <label for="passwprd" class="form-group">Senha</label>
                <input type="password" id="password" name="password" class="form-control mb-1 placeholder-italic" placeholder="Digite sua senha" required>
            
                <div class="d-grid gap-2" id="esqueceu_senha">
                    <div class="text-end">
                    <a href="{% url 'password_reset' %}" class="text-end text-teal-500 hover:underline ml-auto">Esqueceu a
                        senha?</a>
                    </div>
                    <button type="submit" class="btn btn-primary text-center"  onclick="validarFormulario()">Acessar</button>
                    <span class="text-center">Não é cadastrado no sistema?<a
                            href="{% url 'registrar-usuario' %}">Cadastre-se</a></span>
                </div>
            
            </form>
            {% else %}
                
            {% endif %}
        </div>
    </div>

</div>


{% endblock main %}

{% block footer %}
<footer id="rodape" class=" fixed-bottom  text-center text-white">
    <div class="container-fluid  p-3 ">
        © 2023 Copyright: Felipe dos Santos & Alexandre Lira
    </div>
</footer>
{% endblock footer %}


<div class="" id="header_login">
    <div class="header-content">
        <img src="{% static 'img/logo-ufac-cor.png' %}" alt="logo da UFAC" id="logo_ufac">
        <h3 class="text-start">Sistema de Registro de Atividades</h3>
    </div>
</div>

<hr>
