<!-- password_reset_done.html -->
{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block main %}
  
<div class="row" >
  <div class="col-md-4 mx-auto  p-3" id="conteudo" >
        <div class="p-6 sm:p-8 lg:p-16 space-y-8">
          <h4 class="alert alert alert-success lg:text-3xl font-bold text-gray-900">
            Redefinição de senha enviada <i class="fa-solid fa-check"></i>
          </h4>
          <p class="text-sm font-medium text-gray-500">
            Nós te enviamos um e-mail com instruções para configurar sua senha, se uma conta existe com o e-mail fornecido. Você receberá a mensagem em breve.
          </p>
          <p class="text-sm font-medium text-gray-500">
            Se você não recebeu um e-mail, por favor certifique-se que você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.
          </p>
        </div>
      </div>
    </div>
  
{% endblock main %}