{% load static %}
<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
    
    {% block titulo %}
    <title>Base</title>
    {% endblock titulo %}

</head>

<body id="corpo">
    {% if request.user.is_authenticated %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark px-3" id="navbar">
            <div class="container-fluid">
                <span id="logoimg" class="text-center">
                    <img id="logo" src="/static/img/logo-ufac.png" style="max-width: 25px; margin-right: 20px;" alt="">
                </span>
                <span>
                <a id="sdra" class="navbar-brand" href="#">Universidade Federal do Acre - UFAC <br>Sistema de Registro
                    de Atividades - SRA</a>
                </span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">

                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown ">

                            <a id="link_user" class="nav-link dropdown-toggle active" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-regular fa-circle-user" style="color: #ffffff;"></i>
                                <span id="username">{{ user.first_name }} {{ user.last_name }}</span>
                            </a>

                            <ul class="dropdown-menu dropdown-center">
                                <li><a class="dropdown-item" href="{% url 'alterar_senha' %}">
                                        <i class="fa-solid fa-lock" style="color: #000000;"></i>
                                        Alterar senha</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">
                                        <i class="fa-solid fa-arrow-right-from-bracket" style="color: #030303;"></i>
                                        Sair</a>
                                </li>
                            </ul>
                        </li>
                    </ul>


                </div>

        </nav>
    </header>
    {% endif %}


    <main id="conteudo" >
        {% block main %}
        
        {% endblock main %}
    </main>


    <!-- {% block footer %}
    <footer id="rodape" class="text-center text-white">
        <div class="container-fluid  p-3 ">
            © 2023 Copyright: Felipe dos Santos & Alexandre Lira
        </div>
    </footer>
    {% endblock footer %} -->

    

   
    <script src="https://kit.fontawesome.com/f1b27c82b7.js" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script> -->

    {% block scripts %}

    {% endblock scripts %}
</body>


</html>