{% load static %}
<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">

    {% block titulo %}
    <title>Base</title>
    {% endblock titulo %}

</head>

<body>
    {% if request.user.is_authenticated %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow ">
            <div class="container-fluid">
                <div id="logoimg" class="text-center">
                    <img id="logo" src="/static/img/Logo-ufac.png" style="max-width: 25px; margin-right: 20px;" alt="">
                </div>
                <a id="sdra" class="navbar-brand" href="#">Universidade Federal do Acre - UFAC <br>Sistema de Registro
                    de Atividades - SIRA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ">
                        <li class="nav-item dropdown ">
                            <a id="link_user" class="nav-link dropdown-toggle active" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Registros
                            </a>
                            <ul class="dropdown-menu dropdown-center">
                                <li><a class="dropdown-item" href="{% url 'listar-atividade'%}">Atividades</a></li>
                                <li><a class="dropdown-item" href="{% url 'listar-local' %}">Locais</a></li>
                                <li><a class="dropdown-item" href="{% url 'listar-atividade-geral' %}">Todas
                                        Atividades</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown ">

                            <a id="link_user" class="nav-link dropdown-toggle active" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-regular fa-circle-user" style="color: #ffffff;"></i>
                                <span id="username">{{ user.first_name }} {{ user.last_name }}</span>
                            </a>

                            <ul class="dropdown-menu dropdown-center">
                                <li><a class="dropdown-item" href="#">
                                        <i class="fa-solid fa-lock" style="color: #000000;"></i>
                                        Alterar senha</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">
                                        <i class="fa-solid fa-arrow-right-from-bracket" style="color: #030303;"></i>
                                        Sair</a>
                                </li>
                            </ul>
                        </li>
                    </ul>


                </div>

        </nav>
    </header>
    {% endif %}


    <main id="conteudo" class="container">
        {% block main %}
        {% endblock main %}
    </main>


    <!-- {% block footer %}
    <footer id="rodape" class="text-center text-white">
        <div class="container-fluid  p-3 ">
            © 2023 Copyright: Felipe dos Santos & Alexandre Lira
        </div>
    </footer>
    {% endblock footer %} -->

    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f1b27c82b7.js" crossorigin="anonymous" defer></script>
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>

    {% block scripts %}

    {% endblock scripts %}
</body>


</html>