{% extends "core/base.html" %}
{% load static %}

{% block titulo %}
<title>Relatório de Atividades</title>
{% endblock %}


{% block main %}

<main>
    <h5>Relatório de Atividades</h5>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Local</th>
                <th scope="col">Tema</th>
                <th scope="col">Responsável</th>
                
                
                <th scope="col">Participantes</th>
                <th scope="col">Início</th>
                <th scope="col">Encerramento</th>
                <th scope="col">Duração</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for atividade in atividades %}
            <tr>
                <td>{{ atividade.local }}</td>
                <td>{{ atividade.tema }}</td>
                <td>{{ atividade.nome_responsavel }}</td>
                <td>{{ atividade.quantidade_ptc }}</td>
                <td>{{ atividade.data_inicio }}</td>
                <td>{{ atividade.data_encerramento }}</td>
                <td>{{atividade.duracao}} dias</td>
                <td>{{atividade.status}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
   
</main>
{% endblock main %}