{% extends "core/base.html" %}
{% load static %}

{% block titulo %}
<title>Atividades</title>
{% endblock %}

{% block main %}
{% include 'core/breadcrumb.html' %}
<div class="container-fluid col-10 mb-4 page-context-header" id="header-page">
    <div class="page-header-headings">
        <h1 class="h2" style="font-weight: 700;">Lista de Atividades</h1>
    </div>
</div>
<div class="container col-10 mb-3" id="conteudo">
    <div class="container p-3 text-center" id="titulo_lista">
        {% include 'core/mensagens.html' %}

        <div class="row">
            <div class="col-6 mb-3 px-0">
                <form method="GET" id="filterForm" action="{% url 'listar-atividade' %}">
                    <div class="input-group col-auto">
                        <input class=" input-group form-control form-control-sm" id="searchInput" name="search"
                            type="search" value="{{ request.GET.search }}" placeholder="Pesquise por Tema"
                            style="min-width: none; max-width: 400px;">
                        <button type="submit" class="btn" id="searchButton"><svg xmlns="http://www.w3.org/2000/svg"
                                height="16" width="16"
                                viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                                <path fill="#ffffff"
                                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                            </svg></i></button>
                    </div>
                </form>
            </div>
            <div class="col-6 text-end px-0">
                <a href="{% url 'cadastro-atividade' %}" class="btn btn-success">Registrar Atividade</a>
            </div>
        </div>
    </div>

    {% if object_list %}
    {% for atividade in object_list %}
    <div id="bloco-atividade" class="row relatorio-item border p-3 m-2">
        <div class="col">
            <span id="titulo-relatorio" class="row">{{ atividade.tema }}</span>
            <span class="row" style="font-size: small; color: gray;">Data de registro: {{ atividade.data_registro|date:"d/m/y" }}</span>
        </div>
        
        <div class="col-2 text-end">
            <a href="{% url 'exibir-relatorio' atividade.pk %}" class="btn btn-primary btn-sm"
                title="Detalhes da atividade">
                <i class="fa-solid fa-circle-info fa-lg" style="color: #fff;"></i>
            </a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-info" role="alert">
        <p class="text-center " style="font-size: x-large;">Você não tem atividades registradas.</p>
    </div>
    {% endif %}


    <div class="d-flex justify-content-center my-3">
        <nav aria-label="Page navigation example-sm">
            <ul class="pagination">
    
                {% if page_obj.has_previous %}
                    <!-- Mantém o parâmetro de pesquisa na página anterior -->
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Anterior</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link"><i class="fa fa-chevron-left" aria-hidden="true"></i> Anterior</span></li>
                {% endif %}
    
                {% if page_obj.number|add:'-4' > 1 %}
                    <li class="page-item"><a class="page-link" href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&hellip;</a></li>
                {% endif %}
    
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only"></span></span></li>
                    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                        <!-- Mantém o parâmetro de pesquisa nas páginas intermediárias -->
                        <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
    
                {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&hellip;</a></li>
                {% endif %}
    
                {% if page_obj.has_next %}
                    <!-- Mantém o parâmetro de pesquisa na próxima página -->
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Proximo<i class="fa-solid fa-chevron-right"></i></a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link"> Proximo <i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
                {% endif %}
    
            </ul>
        </nav>
    </div>
    
</div>
{% endblock main %}