{% extends "core/base.html" %}
{% load static %}

{% block titulo %}
<title>Atividades</title>
{% endblock %}



{% block main %}

<div class="row align-items-center mt-3" id="titulo_lista">
    <div class="col-md-6">
        <h3>Lista de Atividades Gerais</h3>
    </div>
    <div class="col-md-6 text-md-end">

    </div>
</div>

<hr>
<div class="table-responsive">
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th scope="col">Local</th>
                <th scope="col">Tema</th>
                <th scope="col">Responsável</th>
                <th scope="col">Participantes</th>
                <th scope="col">Início</th>
                <th scope="col">Encerramento</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for atividade in object_list %}
            <tr>
                <td>{{ atividade.local }}</td>
                <td>{{ atividade.tema }}</td>
                <td>{{ atividade.usuario}}</td>
                <td>{{ atividade.quantidade_ptc }}</td>
                <td>{{ atividade.data_inicio }}</td>
                <td>{{ atividade.data_encerramento }}</td>
                <td>
                    <a href="{% url 'editar-atividade' atividade.pk %}" class="btn btn-warning btn-sm">Editar
                        <i class="fa-solid fa-pen-to-square aria-hidden=" true" style="color: #2d2e2f;"></i>

                    </a>
                    <a href="{% url 'excluir-atividade' atividade.pk  %}" class="btn btn-danger btn-sm">Excluir
                        <i class="fa-solid fa-trash" aria-hidden="true" style="color: #fff;"></i>
                    </a>
                    <a href="{% url 'excluir-atividade' atividade.pk  %}" class="btn btn-success btn-sm">Ver
                        <i class="fa-solid fa-file" style="color: #ffffff;"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}

{% block footer %}
<footer id="rodape" class=" text-center text-white">
    <div class="container-fluid  p-3 ">
        © 2023 Copyright: Felipe dos Santos & Alexandre Lira
    </div>
</footer>
{% endblock footer %}