{% extends "core/base.html" %}
{% load static %}

{% block titulo %}
<title>Atividades</title>
{% endblock %}

{% block main %}
<div class="container-fluid col-10 mb-3" id="conteudo">
    <div class="container mt-3 pt-3">
        <div class="row">
            <div class="col-md-6">
                <h3>Lista de Atividades Gerais</h3>
            </div>
            <div class="col-md-6 text-md-end">
                <a class="btn btn-success "
                    href="{% url 'export-pdf' %}?obj={{ request.GET.obj|default:'' }}&start_date={{ request.GET.start_date|default:'' }}&end_date={{ request.GET.end_date|default:'' }}&last_days={{ request.GET.last_days|default:'' }}"
                    target="_blank">Gerar Relatório</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 col-12">
                <a class="btn btn-outline-primary m-1" href="?last_days=15">Últimos 15 dias</a>
                <a class="btn btn-outline-primary m-1" href="?last_days=30">Últimos 30 dias</a>
                <a class="btn btn-outline-primary m-1" href="?last_days=60">Últimos 60 dias</a>
                <a class="btn btn-outline-primary m-1" href="?last_days=90">Últimos 90 dias</a>
            </div>
            <div class="col-md-3 col-12">
                <form action="{% url 'listar-atividade-geral' %}" method="GET">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12 text-md-end ">
                            <label for="start_date">De</label>
                        </div>
                        <div class="col-md-7 col-12 m-1">
                            <input class="form-control" name="start_date" type="date" value="{{request.GET.start_date}}"
                                id="start_date_input" placeholder="Selecione a data">
                        </div>
                        <div class="col-md-3 col-12 text-md-end">
                            <label for="end_date">até</label>
                        </div>
                        <div class="col-md-7 col-12 form-group m-1">
                            <input class="form-control" name="end_date" type="date" value="{{request.GET.end_date}}"
                                placeholder="Selecione a data">
                        </div>
                        <div class="col-md-1 col-12 form-group text-md-end">
                            <button class="btn btn-primary" type="submit">Filtrar</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <hr>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Local</th>
                    <th scope="col">Tema</th>
                    <th scope="col">Responsável</th>
                    <th scope="col">Participantes</th>
                    <th scope="col">Início</th>
                    <th scope="col">Encerramento</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for atividade in object_list %}
                <tr onclick="table-active">
                    <td>{{ atividade.local }}</td>
                    <td>{{ atividade.tema }}</td>
                    <td>{{ atividade.usuario}}</td>
                    <td>{{ atividade.quantidade_ptc }}</td>
                    <td>{{ atividade.data_inicio }}</td>
                    <td>{{ atividade.data_encerramento }}</td>
                    <td>
                        <a href="{% url 'exibir-relatorio' atividade.pk  %}" class="btn btn-primary btn-sm"
                            title="Detalhes da atividade"> <i class="fa-solid fa-circle-info fa-lg"
                                style="color: #fff;"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i
                                class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link"><i class="fa fa-chevron-left"
                                aria-hidden="true"></i></span></li>
                    {% endif %}

                    {% if page_obj.number|add:'-4' > 1 %}
                    <li class="page-item"><a class="page-link" href="?page=1">&hellip;</a></li>
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only"></span></span>
                    </li>
                    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %} <li class="page-item"><a
                            class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                        <li class="page-item"><a class="page-link"
                                href="?page={{ page_obj.paginator.num_pages }}">&hellip;</a></li>
                        {% endif %}

                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i
                                    class="fa-solid fa-chevron-right"></i></a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link"><i class="fa fa-chevron-right"
                                    aria-hidden="true"></i></span></li>
                        {% endif %}

                </ul>
            </nav>
        </div>

    </div>
</div>
{% endblock main %}

{% block footer %}
<footer id="rodape" class=" text-center text-white">
    <div class="container-fluid  p-3 ">
        © 2023 Copyright: Felipe dos Santos & Alexandre Lira
    </div>
</footer>
{% endblock footer %}

{% block scripts %}
{% endblock scripts %}