{% extends "core/base.html" %}
{% load static %}

{% block titulo %}
<title>Relatório de Atividades Gerais</title>
{% endblock %}

{% block main %}
<div class="container mt-4">
    <div class="d-flex flex-row align-items-center justify-content-center ">
        <img src="{% static '/img/logo-ufac-cor.png' %}" alt="" class="px-2">
        <h1 class="text-center ">RELATÓRIO DE ATIVIDADES DO LIFE</h1>
    </div>
    {% for atividade in atividades %}
    <div class="container-fluid">
        <table class=" table-bordered mt-4 container-fluid ">
            <tbody>
                <tr>
                    <th scope="row" class="text-center  text-light col-3 bg-dark">
                        <h3>Tema:</h3>
                    </th>
                    <th>
                        <h3>{{ atividade.tema }}</h3>
                    </th>
                </tr>
                <tr>
                    <td scope="row" class="text-start col-1">Local:</td>
                    <td>{{ atividade.local }}</td>
                </tr>

                <tr>
                    <td scope="row" class="text-start col-1">Responsável: </td>
                    <td>{{ atividade.usuario}}</td>
                </tr>

                <tr>
                    <td scope="row" class="text-start col-1">Descrição: </td>
                    <td>{{ atividade.descricao}}</td>
                </tr>
                <tr>
                    <td scope="row" class="text-start col-1">Data de Início: </td>
                    <td>{{ atividade.data_inicio }}</td>
                </tr>
                <tr>
                    <td scope="row" class="text-start col-1">Data de Encerramento: </td>
                    <td>{{ atividade.data_encerramento }}</td>
                </tr>
            </tbody>
        </table>

        {% endfor %}
    </div>
</div>
{% endblock main %}