<div class="container mt-4">
    <h1 class="text-center">Relatório</h1>
    {% for atividade in atividades %}
    <table class="table mt-4">
        <tbody>
            <tr>
                <td scope="row" class="text-end">Tema: </td>
                <td>{{ atividade.tema }}</td>
            </tr>
            <tr>
                <td scope="row" class="text-start">Local:</td>
                <td>{{ atividade.local }}</td>
            </tr>
            
            <tr>
                <td scope="row" class="text-start">Responsável: </td>
                <td>{{ atividade.usuario}}</td>
            </tr>
            
            <tr>
                <td scope="row" class="text-start">Descrição: </td>
                <td>{{ atividade.quantidade_ptc }}</td>
            </tr>
            <tr>
                <td scope="row" class="text-start">Data de Início: </td>
                <td>{{ atividade.data_inicio }}</td>
            </tr>
            <tr>
                <td scope="row" class="text-start">Data de Encerramento: </td>
                <td>{{ atividade.data_encerramento }}</td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
</div>
