{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block main %}
<div class="row">
    <div class="col-md-4 mx-auto  p-3" id="conteudo">

        <h2 class="text-2xl lg:text-3xl font-bold text-gray-900">
            Deu tudo certo!
        </h2>
        <h6 class="alert alert-success">Sua nova senha foi definida com sucesso. </h6>
        <p class="text-sm font-medium text-gray-500">
            Você pode prosseguir e fazer <a
                class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg"
                href="{% url 'login' %}">login</a> agora.
        </p>


    </div>
</div>

{% endblock main %}