@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body#corpo {
    margin: 0;
    padding: 0;
    background-color: #F3F6FC;
    font-family: 'Roboto', sans-serif;
}

main#conteudo {
    margin-top: 30px;

    margin-bottom: 30px;
}

#user {
    color: white;
}

footer div {
    color: #3b3b3b;
}


a#link_user {
    width: 150px;
    text-align: center;
}

a#sdra {
    font-size: 15px;
}

div#bloco-atividade {
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, .08); */
    padding: 20px;
    align-items: center;
}

div#bloco-atividade:hover {
    background-color: #DEE2E6;
}


div#bloco-atividade span#titulo-relatorio {
    text-justify: auto;
}

a.cancel,
button.register {
    width: 200px;
}

div#conteudo, div#conteudoForm {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
    margin: auto; 
    padding: 30px;
    
}

div#conteudoForm{
    border-top: 10px solid #0C4B9D;
}

#navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
    background-color: #0C4B9D;
}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08)
}

#crumb {
    color: #003365;
    font-weight:300;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}

#crumb:hover {
    text-decoration: underline;
}

#div_breadcrumb, #header-page{
    padding: 0;
}

#card_link{
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08)
}

#label-detalhes{
    background-color: #0C4B9D;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    margin-right: 10px;
}

#label-form{
    font-weight: bold;
}



input[type="search"]:focus {
    box-shadow: none;
    outline: none;
   
    border: 2px solid #0C4B9D; /* Cor verde quando o input está em foco */
}


#searchButton{
    background-color: #0C4B9D;
}

#p-descricao {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal;
    box-sizing: border-box;
}